body {
  background: linear-gradient(
    -225deg,
    rgb(82, 113, 196) 0%,
    rgb(177, 159, 255) 48%,
    rgb(236, 161, 254) 100%
  );
  height: 740px;
}

h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  position: relative;
  top: 10px;
  left: 100px;
  font-size: 48px;
}

h5 {
  position: relative;
  bottom: 20px;
  left: 100px;
  color: rgb(102, 102, 102);
}

h3 {
  position: relative;
  left: 120px;
  top: 20px;
  color: #fff;
}

ul li {
  display: inline-block;
}

ul {
  position: relative;
  top: 30px;
  left: 40px;
}

li {
  position: relative;
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.32);
  margin: 0 10px 20px 0;
  border-radius: 10px;
}

.Weather {
  font-family: sans-serif;
}

.city,
.WeatherTemperature,
.unitSelection {
  font-family: "Lora", serif;
}

.WeatherTemperature {
  font-size: 46px;
  position: relative;
  top: 25px;
}

.unitSelection {
  position: relative;
  font-size: 17px;
  bottom: 30px;
  left: 5px;
}

.currentIcon {
  position: relative;
  top: -20px;
}

.container {
  margin-top: 20px;
}

.searchForm {
  position: relative;
  top: 40px;
  left: 40px;
}

.locationSign {
  font-size: 40px;
}

.weatherPropertiesCard .row {
  font-size: 20px;
  font-weight: 500;
  position: relative;
  left: 100px;
}

.humidity {
  position: relative;
  top: 2px;
}

.todaySituation {
  position: relative;
  top: 10px;
}

.currentWeatherCard {
  margin: 40px 20px 0 20px;
  background-color: rgba(255, 255, 255, 0.38);
}

.weatherPropertiesCard {
  text-align: center;
  margin: 10px 20px;
  background-color: rgba(255, 255, 255, 0.38);
}

.humidityIcon {
  color: #4ebfd9;
  font-size: 20px;
}

.windIcon {
  color: #aebfcf;
  font-size: 20px;
}

.precipitationIcon {
  color: #0ca6c0;
  font-size: 20px;
}

#high-low-temp {
  font-size: 18px;
}
